* {
  cursor: url("remote1.svg"), auto;
}

body {
  background-image: url("movies.jpg");
  min-height: 100vh;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  min-height: 100vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  pointer-events: none;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

@keyframes tv-nosignal {
  100% {
    background-position: 50% 0, 60% 50%;
  }
}

.box {
  aspect-ratio: 1.45/1;
  position: relative;
}

.box img {
  position: absolute;
  width: 100%;
}

.box::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 5%;
  right: 25%;
  bottom: 15%;
  background: repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/3000px
      3000px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 60% 60%/3000px
      3000px;
  background-blend-mode: difference;
  animation: tv-nosignal 0.2s infinite alternate;
}

.red {
  color: white;
  background-color: red;
}

.green {
  color: white;
  background-color: green;
}

.yellow {
  color: black;
  background-color: yellow;
}

.blue {
  color: white;
  background-color: blue;
}

.dark {
  background-color: #111111;
}

a {
  color: red;
}